* {
    margin: 0;
    padding: 0;
}

.logpage {
    position: fixed;
    top: 70px;
    left: 50%;
    width: 310px;
    height: 310px;
    margin-left: -155px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    z-index: 25;
}

.loghead {
    padding: 10px;
    color: whitesmoke;
    font-weight: 0;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}

.loghead h2 {
    margin: 30px auto 0 110px;
}

.form-control {
    width: 90%;
    margin: 5px 0 10px;
    border: 1px solid orangered;
    border-radius: 7px;
    outline: none;
    padding: 5px 10px;
}

.leftside {
    width: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
}

.logbody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.login {
    width: 400px;
    padding: 15px ;
    position: relative;
    display: flex;
    flex-direction: column;
}

label {
    color: white;
}

button {
    border-radius: 50%;
    background: white;
    border: 2px solid orangered;
    width: 88px;
    height: 88px;
    padding: 2px 15px;
    margin-left: 30%;
    outline: none;
    transition: all 0.8s ease;
    font-weight: bold;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background: #43a06d;
    transform: scale(1.1)
}

#exit-block {
    cursor: pointer;
}

.exit {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    transform: rotate(45deg) translateY(8px);
    position: relative;
    border-radius: 3px;
    margin-top: 35px;
    margin-right: 50px;
}

.exit::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background: white;
    transform: rotate(-90deg);
    border-radius: 3px
}

h5 {
    color: red;
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 75px;
}