.card {
    width: 330px;
    height: 420px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 2px solid grey;
    border-radius: 20px;
}

.img-block {

}

.image {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.title-card {

}

.text-card {

}

.btn-card {
    background-color: grey;
    border: 2px solid grey;
    width: 80px;
    border-radius: 5px;
    margin: 0 10px;
    color: white;
    text-transform: uppercase;
    padding: 2px;
}

.btn-card:hover {
    background-color: #43a06d;
}

.btn-block {
    display: flex;
}

