.card {
    width: 230px;
    height: 320px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 2px solid grey;
    border-radius: 20px;
}

.image {
    width: 210px;
    height: 150px;
    border-radius: 10px;
}

.title-card {

}

.text-card {

}

