<head>
    <link rel="stylesheet" href="cards.css">
</head>

<div class="card" id="card">
    <div class="img-block">
        <img class="image" src="" alt="Photo" id="image">
    </div>
    <div class="title">
        <h4 class="title-card" id="title-card"></h4>
    </div>
    <div class="text">
        <span class="text-card" id="text-card"></span>
    </div>
    <div class="btn-block">
        <button class="btn-card" id="change-card">Change</button>
        <button class="btn-card" id="delete-card">Delete</button>
    </div>
</div>