<head>
    <link rel="stylesheet" href="aboutUs.css">
</head>
<section>
    <div class="white-field">
        <div class="search-field">
            <div class="form-photo">
                <label class="search-data" for="search-data"></label>
                <input type="text" id="search-data" value="Enter your zip code" class="search-data">
            </div>
            <div class="photo-city">
                <img src="" alt="photo-city">
            </div>
            <p class="search-text">
                Text
            </p>
            <div class="form-photo">
                <button type="button" id="search-btn" class="search-btn">Press me</button>
            </div>
        </div>
    </div>
    <div class="green-field">

    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d97671.27763495264!2d36.23493782188574!3d49.98057777023481!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1562744143869!5m2!1sru!2sua" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="add-data">
            <div class="form-group">
                <label class="name-add-data" for="name-add-data"></label>
                <input type="text" id="name-add-data" value="Name" class="name-add-data">
            </div>
            <div class="form-group">
                <label class="name-add-data" for="name-add-email"></label>
                <input type="text" id="name-add-email" value="Email address" class="name-add-data">
            </div>
            <div class="form-group">
                <label class="name-add-data" for="name-add-text"></label>
                <textarea id="name-add-text" name="message" cols="25" rows="5" class="name-add-data message-data">Message</textarea>
            </div>
            <div class="form-group">
                <button type="button" id="add-data-btn" class="add-data-btn">L</button>
            </div>
        </div>
    </div>
</section>