* {
    margin: 0;
    padding: 0;
}

.green-field {
    background-color: #43a06d;
    height: auto;
}

.post-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 300px;
    height: 450px;
    /*border: 2px solid white;*/
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}

.img-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-post {
    max-width: 280px;
    max-height: 300px;
    margin-bottom: 10px;
}

.map {
    position: relative;
}

.add-data {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 400px;
    height: 360px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-left: -200px;
}

.name-add-data {
    width: 250px;
    margin-bottom: 15px;
    padding: 8px;
    color: grey;
    outline: none !important;
}

.add-data-btn {
    background-color: #43a06d;
    width: 70px;
    height: 70px;
    color: white;
    border: 1px solid #43a06d;
    border-radius: 50%;
    font-size: 50px;
    font-weight: bold;
    transform: scaleX(-1) rotate(-45deg);
    cursor: pointer;
    margin-top: 15px;
    outline: none;
}

.message-data {
    resize: none;
    margin-bottom: 20px;
}

.btn-name-add-photo {
    display: none;
}

.name-add-photo {
    border: 1px solid grey;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 170px 10px 5px;
}

.name-add-photo:hover {
    background-color: #939393;
    color: white;
}

.title-story {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.error {
    color: red;
}






