<head>
    <link rel="stylesheet" href="content.css">
</head>
<section>
    <div class="green-field" id="green-field">

    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d97671.27763495264!2d36.23493782188574!3d49.98057777023481!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1562744143869!5m2!1sru!2sua" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="add-data">
            <h4 class="title-story">Add story</h4>
            <h5 class="error" id="error"></h5>
            <div class="form-group">
                <label class="name-add-data" for="title-add-data"></label>
                <input type="text" id="title-add-data" placeholder="Title" class="name-add-data">
            </div>
            <div class="form-group">
                <label class="name-add-data" for="name-add-text"></label>
                <textarea id="name-add-text" placeholder="Message" name="message" cols="25" rows="5" class="name-add-data message-data"></textarea>
            </div>
            <div class="form-group">
                <label class="name-add-data name-add-photo" for="name-add-photo">Select photo</label>
                <input type="file" id="name-add-photo" class="form-control btn-name-add-photo">
            </div>
            <div class="form-group">
                <button type="button" id="add-data-btn" class="add-data-btn">L</button>
            </div>
        </div>
    </div>
</section>