.green-field {
    background-color: #43a06d;
    height: auto;
}

.map {
    position: relative;
}

.add-data {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 400px;
    height: 360px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-left: -200px;
}

.name-add-data {
    width: 250px;
    margin-bottom: 15px;
    padding: 8px;
    color: grey;
}

.add-data-btn {
    background-color: #43a06d;
    width: 70px;
    height: 70px;
    color: white;
    border: 1px solid #43a06d;
    border-radius: 50%;
    font-size: 50px;
    font-weight: bold;
    transform: scaleX(-1) rotate(-45deg);
    cursor: pointer;
    margin-top: 15px;
}

.message-data {
    resize: none;
    margin-bottom: 20px;
}

.btn-name-add-photo {
    display: none;
}

.name-add-photo {
    border: 1px solid grey;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 160px 10px 5px;
}

.name-add-photo:hover {
    background-color: #939393;
    color: white;
}

.error {
    color: red;
}

.title-story {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -20px;
}

